* {
	margin: 0;
	padding: 0;
	font-family: 'Hanken Grotesk';
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#card {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		0deg,
		rgba(49, 45, 228, 1) 35%,
		rgba(102, 75, 218, 1) 100%
	);
	padding: 2em;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#card h1 {
	color: #cecbfa;
}

#score .big {
	font-size: 5em;
	color: #ffffff;
	font-weight: bold;
}
