* {
	margin: 0;
	padding: 0;
	font-family: 'Hanken Grotesk';
}

#card {
	display: flex;
	align-items: center;
	box-shadow: 5px 2px 30px #c9c9c9;
	width: 700px;
	border-radius: 30px;
}

/* result side side */

#result {
	padding: 3em;
	background-image: linear-gradient(#6746eb, #3129ee);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 230px;
}

#result h1 {
	color: #ffffff;
	font-size: 1.5em;
	margin-bottom: 1em;
}

#result h2 {
	color: #ffffff;
}
#score p {
	color: #ffffff;
}

#score h2 {
	font-size: 3em;
}

#score {
	border-radius: 50%;
	background-image: linear-gradient(#3129ee, #6746eb);
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

#message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
}

#message h2 {
	color: #ffffff;
	font-size: 2em;
}

#message p {
	color: #ffffff;
	margin-top: 1em;
	line-height: 1.8em;
	text-align: center;
}

/* summary side */

#summary {
	padding: 3em;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}
