* {
	margin: 0;
	padding: 0;
	font-family: 'Hanken Grotesk';
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#card {
	background-color: aqua;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#card h1 {
	color: #ffffff;
}
